* {
    padding: 0;
    margin: 0;
}

body, html {
    background-color: #912E22;
    height: 90vh;
    width: 60vw;
}

#categoryList {
    display: flex;
    position: relative;
    align-items: stretch;
    flex-direction: column;
    justify-content: space-between;
    height: 92vh;
    width: 90vw;
    margin-top: 4vh;
    margin-bottom: 4vh;
}

li, .whiteRectangle {
    display: inline-block;
    list-style-type: none;
    color: white;
    font-family: Roboto;
    font-size: 4vw;
    font-weight: bolder;
    transition: 0.3s;
}

.whiteRectangle {
    background-color: white;
    width: 7vw;
    margin-left: 2vw;
    margin-right: 1vw;
    height: 0.7em;
}

.draftImg {
    width: 7vw;
    height: 1em;
    margin-left: 20vw;
}

li:hover > .draftImg {
    transform: scale(1.5);
}

li:hover > .whiteRectangle {
    width: 11vw;
    background-color: #5F0000;
}

li:hover {
    color: #5F0000;
}

#languageChoice {
    position: fixed;
    top: 2.5%;
    right: 2.5%;
    color: white;
    font-family: Roboto;
    font-weight: bolder;
    text-decoration: none !important;
    font-size: 1.5vw;
}

.langLink {
    color: white;
    font-family: Roboto;
    text-decoration: none;
    font-size: 1.5vw;
}