* {
    padding: 0;
    margin: 0;
}

body, html {
    background-color: #912E22;
    height: 92vh;
    width: 60vw;
}

/* List with categories */

#categoryList {
    display: flex;
    position: relative;
    align-items: stretch;
    flex-direction: column;
    justify-content: space-between;
    height: 92vh;
    width: 100vw;
    margin-top: 4vh;
    margin-bottom: 4vh;
}

/* Category image */
#categoryList a:nth-of-type(1) img {
    margin-top: 1vh;
    margin-left: 65vw;
    width: 5vw;
    position: absolute;
    left: 0;
}

#categoryList a:nth-of-type(2) img {
    margin-right: 6vw;
    width: 7vw;
    position: absolute;
    right: 0;
}

#categoryList a:nth-of-type(3) img {
    margin-left: 55vw;
    width: 12vw;
    position: absolute;
    left: 0;
}

#categoryList a:nth-of-type(4) img {
    margin-right: 7vw;
    width: 9vw;
    position: absolute;
    right: 0;
}

#categoryList a:nth-of-type(5) img {
    margin-left: 63vw;
    width: 13vw;
    left: 0;
    position: absolute;
}

#categoryList a:nth-of-type(6) img {
    margin-right: 7vw;
    position: absolute;
    width: 13vw;
    right: 0;
    margin-left: 10vw;
}

#categoryList a:nth-of-type(7) img {
    margin-left: 45vw;
    width: 6vw;
    left: 0;
    bottom: 0;
    position: absolute;
}

/* Remove link between image and text */
#categoryList > a {
    width: fit-content;
    /*background-color: aqua;*/
}

/* List item and rectangle in front */
li, .whiteRectangle {
    display: inline-block;
    position: relative;
    list-style-type: none;
    color: white;
    font-family: Roboto;
    font-size: 4vw;
    font-weight: bolder;
    transition: 0.3s;
}

.whiteRectangle {
    background-color: white;
    width: 7vw;
    margin-left: 2vw;
    margin-right: 1vw;
    height: 0.7em;
}

/* on hover list item and image */

@media all and (min-width: 481px) {

    #categoryList a:hover > .draftImg {
        transition: 0.2s;
        width: 17vw;
        margin-top: 0;
        z-index: 1;
    }
    #categoryList a:nth-of-type(5):hover > .draftImg {
        transition: 0.2s;
        width: 15vw;
        margin-top: 0;
        z-index: 1;
    }
    #categoryList a:hover li > .draftImg {
        transition: 0.2s;
        width: 17vw;
        margin-top: 0;
        z-index: 1;
    }
}


#categoryList a:hover li > .whiteRectangle {
    width: 11vw;
    background-color: #5F0000;
}

#categoryList a:hover li {
    color: #5F0000;
}

/* Multilingual */
#languageChoice {
    position: fixed;
    top: 2.5%;
    right: 2.5%;
    color: white;
    font-family: Roboto;
    font-weight: bolder;
    text-decoration: none !important;
    font-size: 1.5vw;
}

.langLink {
    color: white;
    font-family: Roboto;
    text-decoration: none;
    font-size: 1.5vw;
}

.langLink:hover {
    color: #5F0000;
}

/* Splash screen */

#splashScreen {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: #912E22;
    animation-name: splashScreen;
    animation-duration: 1s;
    animation-delay: 23.7s;
}

#skip {
    position: fixed;
    z-index: 2;
    bottom: 2vw;
    right: 2vw;
    font-size: 1.5vw;
    text-decoration: underline;
    color: black;
    font-weight: bolder;
    cursor: pointer;
}

#firstTextAnimation {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: Roboto;
    font-weight: bolder;
    font-size: 0vw;
    white-space: nowrap;
    animation: infinite;
    animation-timing-function: ease-in;
    animation-name: splash;
    animation-duration: 7s;
    opacity: 0;
}

#secondTextAnimation {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: Roboto;
    font-weight: bolder;
    font-size: 0vw;
    white-space: nowrap;
    animation: infinite;
    animation-timing-function: ease-in;
    animation-name: splash;
    animation-duration: 7s;
    animation-delay: 3.5s;
    opacity: 0;
}


@keyframes splashScreen {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes splash {
    0% {
        font-size: 0vw;
        opacity: 0;
    }
    57.143% {
        opacity: 1;
    }
    57.2% {
        opacity: 0;
        font-size: 100vw;
    }
    100% {
        opacity: 0;
        font-size: 100vw;
    }
}

#topLeftImage {
    position: fixed;
    width: 0vw;
    animation: infinite ease-in;
    animation-name: topLeftImage;
    animation-duration: 3.450s;
    opacity: 1;
    visibility: hidden;
}

@keyframes topLeftImage {
    0% {
        width: 0vw;
        top: 50vh;
        left: 50vw;
        visibility: visible;
    }
    100% {
        top: -50vh;
        left: -25.5vw;
        visibility: hidden;
        width: 65vw;
    }
}

#topRightImage {
    position: fixed;
    width: 0vw;
    animation: infinite ease-in;
    animation-name: topRightImage;
    animation-duration: 3.450s;
    opacity: 1;
    visibility: hidden;
}

@keyframes topRightImage {
    0% {
        width: 0vw;
        top: 50vh;
        right: 45vw;
        visibility: visible;
    }
    100% {
        top: -63vh;
        right: -30.5vw;
        visibility: hidden;
        width: 60vw;
    }
}

#bottomRightImage {
    position: fixed;
    width: 0vw;
    animation: infinite ease-in;
    animation-name: bottomRightImage;
    animation-duration: 3.450s;
    opacity: 1;
    visibility: hidden;
}

@keyframes bottomRightImage {
    0% {
        width: 0vw;
        bottom: 50vh;
        right: 50vw;
        visibility: visible;
    }
    100% {
        bottom: -25vh;
        right: -12.5vw;
        visibility: hidden;
        width: 50vw;
    }
}

#bottomLeftImage {
    position: fixed;
    width: 0vw;
    animation: infinite ease-in;
    animation-name: bottomLeftImage;
    animation-duration: 3.450s;
    opacity: 1;
    visibility: hidden;
}

@keyframes bottomLeftImage {
    0% {
        width: 0vw;
        bottom: 50vh;
        left: 40vw;
        visibility: visible;
    }
    100% {
        bottom: -30vh;
        left: 0vw;
        visibility: hidden;
        width: 50vw;
    }
}


/* Mobile */


@media (max-height: 480px) and (max-width: 480px) {

    #categoryList a:nth-of-type(1) img {
        display: none;
    }

    #categoryList a:nth-of-type(2) img {
        display: none;
    }

    #categoryList a:nth-of-type(3) img {
        display: none;
    }

    #categoryList a:nth-of-type(4) img {
        display: none;
    }

    #categoryList a:nth-of-type(5) img {
        display: none;
    }

    #categoryList a:nth-of-type(6) img {
        display: none;
    }

    #categoryList a:nth-of-type(7) img {
        display: none;
    }

}

@media (max-width: 480px) {

    #skip {
        font-size: 4vw;
    }

    #categoryList {
        height: 45vh;
    }

    li, .whiteRectangle {
        font-size: 7vw;
    }

    .whiteRectangle {
        width: 7vw;
        height: 0.7em;
    }

    #categoryList a:hover li > .whiteRectangle {
        width: 11vw;
        background-color: #5F0000;
    }

    #categoryList a:hover li {
        color: #5F0000;
    }

    .langLink, u, #slash {
        font-size: 3.3vw;
    }

    #categoryList a:nth-of-type(1) img {
        margin-top: 70vh;
        margin-left: 52vw;
        width: 45vw;
        position: absolute;
        left: 0;
    }

    #categoryList a:nth-of-type(2) img {
        margin-top: 65vh;
        margin-left: 17vw;
        width: 33vw;
        position: absolute;
        left: 0;
    }

    #categoryList a:nth-of-type(3) img {
        margin-top: 68.5vh;
        margin-left: 37vw;
        width: 40vw;
        position: absolute;
        left: 0;
    }

    #categoryList a:nth-of-type(4) img {
        margin-top: 60.5vh;
        margin-left: 5vw;
        width: 35vw;
        position: absolute;
        left: 0;
    }

    #categoryList a:nth-of-type(5) img {
        margin-top: 23vh;
        margin-left: 5vw;
        width: 38vw;
        left: 0;
        position: absolute;
    }

    #categoryList a:nth-of-type(6) img {
        margin-top: 21vh;
        margin-left: 48vw;
        width: 40vw;
        left: 0;
        position: absolute;
    }

    #categoryList a:nth-of-type(7) img {
        top: 0;
        margin-top: 19vh;
        margin-left: 10vw;
        width: 45vw;
        left: 0;
        position: absolute;
    }

    @keyframes topLeftImage {
        0% {
            width: 0vw;
            top: 50vh;
            left: 50vw;
            visibility: visible;
        }
        100% {
            top: 0vh;
            left: 0vw;
            visibility: hidden;
            width: 50vw;
        }
    }

    @keyframes topRightImage {
        0% {
            width: 0vw;
            top: 50vh;
            right: 45vw;
            visibility: visible;
        }
        100% {
            top: 0vh;
            right: 0vw;
            visibility: hidden;
            width: 50vw;
        }
    }

    @keyframes bottomRightImage {
        0% {
            width: 0vw;
            bottom: 50vh;
            right: 50vw;
            visibility: visible;
        }
        100% {
            bottom: 0vh;
            right: 0vw;
            visibility: hidden;
            width: 50vw;
        }
    }

    @keyframes bottomLeftImage {
        0% {
            width: 0vw;
            bottom: 50vh;
            left: 40vw;
            visibility: visible;
        }
        100% {
            bottom: 0vh;
            left: 0vw;
            visibility: hidden;
            width: 50vw;
        }
    }

}

@media (min-width: 481px) and (max-width: 1050px) {

    #skip {
        font-size: 4vw;
    }

    li, .whiteRectangle {
        font-size: 6vw;
    }

    .whiteRectangle {
        width: 6vw;
        height: 0.7em;
    }

    #categoryList a:nth-of-type(1) img {
        width: 10vw;
        left: 2vw;
    }

    #categoryList a:nth-of-type(2) img {
        width: 11vw;
    }

    #categoryList a:nth-of-type(3) img {
        width: 16vw;
    }

    #categoryList a:nth-of-type(4) img {
        width: 13vw;
    }

    #categoryList a:nth-of-type(5) img {
        width: 12vw;
        left: 22vw;
    }

    #categoryList a:nth-of-type(6) img {
        width: 15vw;
    }

    #categoryList a:nth-of-type(7) img {
        width: 11vw;
    }

    #categoryList a:hover li > .whiteRectangle {
        width: 11vw;
        background-color: #5F0000;
    }

    #categoryList a:hover li {
        color: #5F0000;
    }

    .langLink, u, #slash {
        font-size: 2.5vw;
    }


    @keyframes topLeftImage {
        0% {
            width: 0vw;
            top: 50vh;
            left: 50vw;
            visibility: visible;
        }
        100% {
            top: 0vh;
            left: 0vw;
            visibility: hidden;
            width: 50vw;
        }
    }

    @keyframes topRightImage {
        0% {
            width: 0vw;
            top: 50vh;
            right: 45vw;
            visibility: visible;
        }
        100% {
            top: 0vh;
            right: 0vw;
            visibility: hidden;
            width: 50vw;
        }
    }

    @keyframes bottomRightImage {
        0% {
            width: 0vw;
            bottom: 50vh;
            right: 50vw;
            visibility: visible;
        }
        100% {
            bottom: 0vh;
            right: 0vw;
            visibility: hidden;
            width: 50vw;
        }
    }

    @keyframes bottomLeftImage {
        0% {
            width: 0vw;
            bottom: 50vh;
            left: 40vw;
            visibility: visible;
        }
        100% {
            bottom: 0vh;
            left: 0vw;
            visibility: hidden;
            width: 50vw;
        }
    }
}


